
@{
    ViewBag.Title = "Totalizar";
}

<h2>Totalizar</h2>

<h2>Totalizar</h2>

Total de la nomina es: @ViewBag.TotalSalario <br />
Total de empleados es: @ViewBag.TotalEmpleados
                                             <br />
<a href="Index" class="bt">Volver</a>