
@{
    ViewBag.Title = "Index";
}
<style>
    body{
        background-image: url(../../image/bl.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    footer{
        color: white;
    }
</style>

<div class="container" style="background: white">
    <div class="jumbotron" style="text-align:center">
        <h1> *******************************</h1>
        <h1> * Final de programacion 3 *</h1>
        <h1> *******************************</h1>
        <h3>
            Bienvenido  a nuestro proyecto final de programacion 3, creado por (Smit 2017-4824) & (Ivette 2017-4622), aqui en la bienvenida nuestro objetivo
            es explicarle el funcionamiento de la pagina.
        </h3>
        <br />
        <h4>
            1- Toda la movilidad se hace mediante los navegadores de arriba, como es de costumbre el logo (PG3) nos lleva al inicio o pantalla de bienvenida
            como es el caso de este.(cada pestaña contiene lo solicitado para hacer el proyecto final y dicho proyecto esta en los repositorios de Osbbyx
            como en cami001).
        </h4>
        <br />
        <h4>
            2- En la pestaña mantenimiento, tendran una lista donde contendran toda la tabla empleado y dos botones extras cuya funciones es alimentar la
            tabla Departamentos y cargos ya que fueron solicitados en el proyecto final.
        </h4>
        <br />
        <h4>
            3- Luego de mantenimientos tenemos 5 pestañas mas, la nomina: lista la tabla nominas y un boton nos despliega la nomina total de los empleados activos,
            luego tenemos la pestaña salidas: que su unica funcion listar y almacenar en tabla salida todo lo requerido en el proyecto, luego tenemos vacaciones:
            este registra las vacaciones y despliega la lista de todas las vaciones creadas, Luego la pestaña Permisos y Licencias: ambos registran y muestran lo
            registrado.
        </h4>
    </div>
   

</div>

